@pt-bg-url: "@{imgDir}/pt_icon.png";

.paginatorbar-operatebar {
    padding-left: 5px;
    
    a{
        margin: 6px 0px 2px 0px !important;

        &:hover {
            background: none !important;
            border: none !important;
            padding: 0px 1px !important;
            margin: 6px 0px 2px 0px !important;
            
        }
    }
}

.cui-btn,
.buttonbar-button {
    padding-left: 16px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    background: none !important;
    margin-right: 5px;

    &:before {
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        background-image: url(@pt-bg-url);
        background-repeat: no-repeat;
        top: 2px;
        left: 0px;
    }
}

/*打印脚本*/
.cui-btn-script {
    background: url(/bap/static/css/edit_20150318.png?t=20190505) -1px -7616px no-repeat;
}

/*导入*/
.cui-btn-import {
    background: url("/bap/static/css/edit_20150318.png") 0px -1554px no-repeat;
}

/*导出*/
.cui-btn-export {
    background: url("/bap/static/css/edit_20150318.png") -1px -1513px no-repeat;
}

.cui-btn-exportftl {
    background: url("/bap/static/css/edit_20150318.png") 0px -2201px no-repeat;
}

// 导出
.cui-btn-eighteen-dt-op-download-sourcecode {
    .btn-pos(0, 69px);
}

// 批量上载
.cui-btn-eighteen-dt-op-upload-sourcecode {
    .btn-pos(0, 2906px);
}

// 下载源码
.cui-btn-eighteen-dt-op-download-sourcecode {
    .btn-pos(0, 2078px);
}

// 添加实体
.cui-btn-own-tjst {
    .btn-pos(0, 2101px);
}

// 同步
.cui-btn-eighteen-dt-op-synchronous {
    .btn-pos(0, 438px);
}

// 实体修改
.cui-btn-own-stxg {
    .btn-pos(0, 2170px);
}

// 助记码同步
.cui-btn-eighteen-dt-op-mnemonic-synchronous {
    .btn-pos(0, 2216px);
}

// 导出实体信息
.cui-btn-eighteen-dt-op-export-entity {
    .btn-pos(0, 2009px);
}

// 继承视图
.cui-btn-eighteen-dt-extend-view {
    .btn-pos(0, 2469px);
}

// 启用
.cui-btn-eighteen-dt-op-enable {
    .btn-pos(0, 1315px);
}

// 停用
.cui-btn-eighteen-dt-stop {
    .btn-pos(0, 2837px);
}

// 发布
.cui-btn-eighteen-dt-op-publish {
    .btn-pos(0, 2262px);
}

// 批量导出
.cui-btn-eighteen-dt-bulk-export {
    .btn-pos(0, 2860px);
}

// 生成
.cui-btn-eighteen-dt-op-generate {
    .btn-pos(0, 2285px);
}

// 打包
.cui-btn-eighteen-dt-op-install {
    .btn-pos(0, 2032px);
}

// 视图配置
.cui-btn-ec-view-config-view {
    .btn-pos(0, 2331px);
}

// 去除移动视图配置
.cui-btn-ec-view-remove-mobile-view {
    .btn-pos(0, 2377px);
}

// 保存
.cui-btn-eighteen-dt-op-save {
    .btn-pos(0, 1431px);
}

/*设置*/
.cui-btn-setting {
    .btn-pos(0, 1592px);
}

/*删除*/
.cui-btn-del {
    .btn-pos(0, 46px);
}

// 左移
.cui-btn-leftmove {
    .btn-pos(0, 3360px);
}

// 右移
.cui-btn-rightmove {
    .btn-pos(0, 3380px);
}

// 保存
.cui-btn-save {
    .btn-pos(0, 1431px); 
}

// 还原
.cui-btn-restore {
    .btn-pos(0, 277px); 
}

// 发布
.cui-btn-publish {
    .btn-pos(0, 2262px); 
}

// 列属性
.cui-btn-columnattr {
    .btn-pos(0, 4000px); 
}

// 表格属性
.cui-btn-tableattr {
    .btn-pos(0, 4020px); 
}

// 页面属性
.cui-btn-pageattr {
    .btn-pos(0, 4040px); 
}

/*移动*/
.cui-btn-move {
    background: url("/bap/static/css/edit_20150318.png") -1px -1314px no-repeat;
}

/*上移*/
.cui-btn-up {
    background: url("/bap/static/css/buttons.png") 5px -162px no-repeat;
}

/*下移*/
.cui-btn-down {
    background: url("/bap/static/css/buttons.png") 5px -187px no-repeat;
}

/*插入行*/
.cui-btn-insert {
    background: url("/bap/static/css/buttons.png") 0 -136px no-repeat;
}

/*展开*/
.cui-btn-expand {
    background: url("/bap/static/css/buttons.png") 0 -106px no-repeat;
}

/*收起*/
.cui-btn-collapse {
    background: url("/bap/static/css/buttons.png") 0 -76px no-repeat;
}

/*修改*/
.cui-btn-modify {
    background: url(/bap/static/css/edit_20150318.png) -1px -1190px no-repeat;
}

/*复制*/
.cui-btn-copy {
    .btn-pos(0, 647px);
}

/*排序*/
.cui-btn-sort {
    .btn-pos(0, 115px);
}

// 修改视图
.cui-btn-ec-view-modify-view {
    .btn-pos(0, 2400px);
}

// 移动视图配置
.cui-btn-ec-view-config-mobile-view {
    .btn-pos(0, 2354px);
}

.cui-btn-yqwtsz {
    height: 16px;
    background: url("/bap/static/css/sprite_20121010.png") -0 -677px no-repeat !important;
}

.cui-btn-wtsz {
    height: 16px;
    background: url("/bap/static/css/sprite_20121010.png") 0 -749px no-repeat !important;
}

/*添加*/
.cui-btn-add {
    .btn-pos(0, 0);
}

/*导入*/
.cui-btn-import {
    background: url("/bap/static/css/edit_20150318.png") 0px -1554px no-repeat;
}

/*导出*/
.cui-btn-export {
    background: url("/bap/static/css/edit_20150318.png") -1px -1513px no-repeat;
}

.cui-btn-exportftl {
    background: url("/bap/static/css/edit_20150318.png") 0px -2201px no-repeat;
}

/*移动*/
.cui-btn-move {
    background: url("/bap/static/css/edit_20150318.png") -1px -1314px no-repeat;
}

/*上移*/
.cui-btn-up {
    background: url("/bap/static/css/buttons.png") 5px -162px no-repeat;
}

/*下移*/
.cui-btn-down {
    background: url("/bap/static/css/buttons.png") 5px -187px no-repeat;
}

/*插入行*/
.cui-btn-insert {
    background: url("/bap/static/css/buttons.png") 0 -136px no-repeat;
}

/*展开*/
.cui-btn-expand {
    background: url("/bap/static/css/buttons.png") 0 -106px no-repeat;
}

/*收起*/
.cui-btn-collapse {
    background: url("/bap/static/css/buttons.png") 0 -76px no-repeat;
}

/*编辑*/
.cui-btn-edit {
    .btn-pos(0, 23px)
}

/*修改*/
.cui-btn-modify {
    background: url(/bap/static/css/edit_20150318.png) -1px -1190px no-repeat;
}

/*配置*/
.cui-btn-config {
    .btn-pos(0, 2331px);
}

// 设为当前版本
.cui-btn-eighteen-dt-set-current-version {
    .btn-pos(0, 3020px);
}

/*复制*/
.cui-btn-copy {
    background: url('/bap/static/css/sprite.png') 0 -1319px no-repeat;
}

.cui-btn-yqwtsz {
    height: 16px;
    background: url("/bap/static/css/sprite_20121010.png") -0 -677px no-repeat !important;
}

.cui-btn-wtsz {
    height: 16px;
    background: url("/bap/static/css/sprite_20121010.png") 0 -749px no-repeat !important;
}

.cui-btn-publishlist {
    background: url('/bap/static/css/sprite_20121010.png') 0 -1370px no-repeat;
}

.cui-btn-sz {
    height: 16px;
    background: url("/bap/static/css/sprite_20121010.png") 0 -702px no-repeat !important;
}

/*调入*/
.cui-btn-transferin {
    background: url("/bap/static/css/edit_20150318.png") -1px -1391px no-repeat;
}

/*离职*/
.cui-btn-transferout {
    background: url("/bap/static/css/edit_20150318.png") -1px -1353px no-repeat;
}

/*内部调动*/
.cui-btn-transferInternal {
    background: url("/bap/static/css/edit_20150318.png") -1px -1431px no-repeat;
}

/*注销*/
.cui-btn-dimission {
    background: url("/bap/static/css/sprite_20121010.png") 0px -944px no-repeat;
}

/*迁移*/
.cui-btn-goto {
    background: url(/bap/static/css/edit_20150318.png) -1px -2582px no-repeat;
}

/*挂起*/
.cui-btn-pause {
    background: url(/bap/static/css/edit_20150318.png) -1px -2621px no-repeat;
}

/*复原*/
.cui-btn-recover {
    background: url(/bap/static/css/edit_20150318.png) -1px -2660px no-repeat;
}

/*作废*/
.cui-btn-nullify {
    background: url(/bap/static/css/edit_20150318.png) -1px -2698px no-repeat;
}

.cui-btn-modify {
    background: url('/bap/static/new/img/icon.png?t=20151204') no-repeat 0px -3900px;
}

/*默认*/
.cui-btn-default {
    background: url("/bap/static/css/edit_20150318.png") -1px -2738px no-repeat;
}

/*复制行*/
.cui-btn-copyrow {
    background: url(/bap/static/css/edit_20150318.png) 0px -3470px no-repeat;
}

/*复制列*/
.cui-btn-copycolumn {
    background: url(/bap/static/css/edit_20150318.png) 0px -3511px no-repeat;
}