.view-mnecode-config {
    border: none !important;
    margin: 26px 0 20px 0 !important;
    height: initial !important;
    padding: 0 !important;
}

#mneCodePropertySet {
    margin-top: 0 !important;

    #showNumber {
        height: 32px;
        border: 1px solid #D9D9D9;
        border-radius: 2px;
    }
}

.view-mnecode {
    #main_container {
        border: none !important;
        margin: 0 16px !important;
        padding: 0 !important;

    }

    #listTable {
        border-collapse: collapse;

        tr {
            background-color: #fff !important;

            &:first-of-type {
                background: #F5F5F5 !important;
            }

            &.nor{
                // background: #F5F5F5 !important;
                
                &.object {
                    background: #BDBDBD !important;
                }
            }

            td {
                height: 30px !important;
                border: 1px solid #E7E7E7;
            }

        }
    }
}