.elm-layout-wrap-in-west {
    border-right: 1px solid @border-color;
}

#left_in {
    background-color: #fff;
}

#layout-west {
    .euc-layout-resize {
        border: none;
        background-color: @border-color;
    }
}