#ec_entity_config_top {
    background-color: @primary-color;

    .config_top_title {
        >span {
            color: #fff;
            font-weight: bold;
            padding-left: 13px;
            line-height: 36px;
            font-size: @font-size-header-title;
        }
    }
}