<included>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/WorkSpace/supfusion-i18n-service/work.dir_IS_UNDEFINED/logs/system.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logHome}/system.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>

    <logger name="com.netflix" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.hibernate.validator" level="ERROR"/>
    <logger name="org.apache.ibatis" level="ERROR"/>
    <logger name="org.apache.http.impl.conn" level="ERROR"/>
    <logger name="com.alibaba.nacos.client.Worker.longPolling" level="OFF"/>
    <logger name="io.fabric8.kubernetes" level="ERROR"/>
    <logger name="com.alibaba.nacos.client.naming" level="ERROR" additivity="false"/>
    <logger name="com.netflix" level="ERROR"/>
    <logger name="com.zaxxer.hikari" level="ERROR" />
    <logger name="com.alibaba.nacos" level="ERROR" additivity="false" />
    <logger name="com.baomidou.mybatisplus" level="ERROR" />
    <logger name="org.apache.http.impl" level="ERROR" />
    <logger name="org.apache.http.wire" level="ERROR"/>
    <logger name="org.apache.http.headers" level="ERROR" />
    <logger name="org.apache.http.client.protocol" level="ERROR" />
    <logger name="org.mybatis" level="ERROR" />
    <logger name="org.apache.ibatis.logging.jdbc" level="ERROR" />
    <logger name="io.fabric8.kubernetes" level="ERROR"/>
    <logger name="springfox.documentation.schema" level="ERROR" />
</included>