#v3_logo {
  background-color: #fff !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 156px auto !important;
  box-shadow: inset -1px 0 0 rgba(7, 77, 162, 0.16);
  filter: none;
}

body.v3_menu_collapsed #v3_logo {
  background-position: left center !important;
  background-size: 100px auto !important;
}
