.infoTable td {
    height: 28px;
    font-size: 12px;
}

.infoTable td.la {
    text-align: right;
    width: 13%;
    padding-right: 5px;
}

.ec-config-page .cui-edit-field,
.ec-config-page .cui-noborder-input {
  height: 21px;
  line-height: 18px;
}

// fix144028
#multab-common.infoTable td.la {
  width: 8%;
}