<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true" scanPeriod="60" debug="false">
    <conversionRule conversionWord="traceId" converterClass="com.supcon.supfusion.framework.cloud.logger.converter.TraceIdConverter"/>
    <conversionRule conversionWord="fromServiceName" converterClass="com.supcon.supfusion.framework.cloud.logger.converter.FromServiceNameConverter"/>

    <property name="logHome" value="${work.dir}"/>
    <property name="pattern" value="[%d{ISO8601}][%-5level]%traceId[%t][%C{0}][license]%fromServiceName - %msg%n"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <springProfile name="default">
        <include resource="logback-prod.xml"/>
    </springProfile>
    <springProfile name="prod">
        <include resource="logback-prod.xml"/>
    </springProfile>
    <springProfile name="dev">
        <include resource="logback-dev.xml"/>
    </springProfile>
</configuration>