<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supcon.supfusion.organization.dao.mapper.company.CompanyMapper">

    <resultMap id="companiesMap" type="com.supcon.supfusion.organization.dao.po.company.CompanyDetailInfoPO">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="fullName" property="fullName"/>
        <result column="shortName" property="shortName"/>
        <result column="description" property="description"/>
        <result column="fullPath" property="fullPath"/>
        <result column="layNo" property="layNo"/>
        <result column="sort" property="sort"/>
        <result column="valid" property="valid"/>
        <result column="modifyTime" property="modifyTime"/>
        <result column="parentCode" property="parentCode"/>
    </resultMap>

    <select id="getCompanies" resultMap="companiesMap">
        <bind name="offset" value="(current-1)*pageSize"/>
        <if test="dbType == null or dbType == '' or dbType == 'postgresql'">
            select curCom.id, curCom.code, curCom.full_name as fullName, curCom.short_name as shortName, curCom.description, curCom.full_path as fullPath, curCom.lay_no as layNo, curCom.sort,
            curCom.valid, curCom.modify_time as modifyTime, parentCom.code as parentCode
            from org_company curCom left join org_company parentCom on curCom.parent_id = parentCom.id
            <if test="modifyTime != null">
                where curCom.modify_time &gt; #{modifyTime}
            </if>
            <if test="modifyTime == null">
                where curCom.valid =1
            </if>
            order by curCom.lay_no, curCom.sort
            <if test="current != -1">
                limit #{pageSize} offset #{offset}
            </if>
        </if>
        <bind name="pointer" value="current * pageSize"/>
        <bind name="sqlserverOffset" value="(current - 1) * pageSize + 1"/>
    </select>

    <select id="getCompanyCount" resultType="java.lang.Integer">
        <if test="dbType == null or dbType == '' or dbType == 'postgresql'">
            select count(*) from org_company curCom left join org_company parentCom on curCom.parent_id = parentCom.id
            <if test="modifyTime != null">
                where curCom.modify_time &gt; #{modifyTime}
            </if>
            <if test="modifyTime == null">
                where curCom.valid =1
            </if>
        </if>
    </select>

    <select id="getCompanyByCode" resultMap="companiesMap">
        select curCom.id, curCom.code, curCom.full_name as fullName, curCom.short_name as shortName, curCom.description, curCom.full_path as fullPath, curCom.lay_no as layNo, curCom.sort,
        curCom.valid, curCom.modify_time as modifyTime, parentCom.code as parentCode
        from org_company curCom left join org_company parentCom on curCom.parent_id = parentCom.id where curCom.valid =1 and curCom.code =#{companyCode}
    </select>

    <select id="getSubCompaniesByCode" resultMap="companiesMap">
       <!-- select curCom.id, curCom.code, curCom.full_name as fullName, curCom.short_name as shortName, curCom.description, curCom.full_path as fullPath, curCom.lay_no as layNo, curCom.sort,
        curCom.valid, curCom.modify_time as modifyTime, parentCom.code as parentCode
        from org_company curCom left join org_company parentCom on curCom.parent_id = parentCom.id where
        curCom.full_path LIKE #{fullPath} and curCom.valid =1
        <if test="null != keyword and '' != keyword">
            and curCom.short_name like #{keyword}
        </if>
        <if test="!isMultistage">
            and curCom.lay_no = #{layNo} + 1
        </if>
        order by curCom.lay_no, curCom.sort-->

        <bind name="mysqlOffset" value="(current-1)*pageSize"/>
        <bind name="pointer" value="current * pageSize"/>
        <bind name="offset" value="(current - 1) * pageSize + 1"/>
        <if test="dbType == 'postgresql'">
            select curCom.id, curCom.code, curCom.full_name as fullName, curCom.short_name as shortName, curCom.description, curCom.full_path as fullPath, curCom.lay_no as layNo, curCom.sort,
            curCom.valid, curCom.modify_time as modifyTime, parentCom.code as parentCode
            from org_company curCom left join org_company parentCom on curCom.parent_id = parentCom.id where
            curCom.full_path LIKE #{fullPath} and curCom.valid =1
            <if test="null != keyword and '' != keyword">
                and curCom.short_name like #{keyword}
            </if>
            <if test="!isMultistage">
                and curCom.lay_no = #{layNo} + 1
            </if>
            order by curCom.lay_no, curCom.sort
            limit #{pageSize} offset #{mysqlOffset}
        </if>


    </select>

    <select id="getSubCompaniesTotal" resultType="java.lang.Integer">
        select count(1) from org_company curCom
        left join org_company parentCom
        on curCom.parent_id = parentCom.id
        where
        curCom.full_path LIKE #{fullPath}
        and curCom.valid =1
        <if test="null != keyword and '' != keyword">
            and curCom.short_name like #{keyword}
        </if>
        <if test="!isMultistage">
            and curCom.lay_no = #{layNo} + 1
        </if>
    </select>

</mapper>