<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supcon.supfusion.rbac.dao.RolePStaffMapper">
    <!-- map -->
    <resultMap type="com.supcon.supfusion.rbac.dao.po.RolePStaffPO" id="base_map">
        <result property="id" column="ID"/>
        <result property="version" column="VERSION"/>
        <result property="staffId" column="STAFF_ID"/>
        <result property="rolepermissionId" column="ROLEPERMISSION_ID"/>
    </resultMap>
    <!-- column -->
    <sql id="base_column">
        ID,VERSION,STAFF_ID,ROLEPERMISSION_ID
    </sql>
    <!-- condition -->
    <sql id="base_where">
        <where>
            <if test="id != null">
                ID = #{id}
            </if>
            <if test="version != null">
                VERSION = #{version}
            </if>
            <if test="userId != null">
                STAFF_ID = #{staffId}
            </if>
            <if test="rolepermissionId != null">
                ROLEPERMISSION_ID = #{rolepermissionId}
            </if>
        </where>
    </sql>
    <!-- select -->
    <select id="findByRolePermissionId" parameterType="com.supcon.supfusion.rbac.dao.query.RolePStaffQuery" resultMap="base_map">
        SELECT STAFF_ID,ROLEPERMISSION_ID FROM rbac_rolepstaff ups WHERE ups.ROLEPERMISSION_ID IN <foreach
            collection="rolePermissionIds" item="id" open="(" close=")" separator=",">
        #{id}
    </foreach>
        UNION
        SELECT STAFF_ID,FLOWPERMISSION_ID ROLEPERMISSION_ID FROM rbac_flow_permission_staff rfps
        WHERE rfps.FLOWPERMISSION_ID IN <foreach
            collection="rolePermissionIds" item="id" open="(" close=")" separator=",">
        #{id}
    </foreach>
    </select>
</mapper>