<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supcon.supfusion.rbac.dao.UserPDepartmentMapper">
    <!-- map -->
    <resultMap type="com.supcon.supfusion.rbac.dao.po.UserPDepartmentPO" id="base_map">
        <result property="id" column="ID"/>
        <result property="version" column="VERSION"/>
        <result property="includeLower" column="INCLUDE_LOWER"/>
        <result property="departmentId" column="DEPARTMENT_ID"/>
        <result property="userpermissionId" column="USERPERMISSION_ID"/>
    </resultMap>
    <!-- column -->
    <sql id="base_column">
        ID,VERSION,INCLUDE_LOWER,DEPARTMENT_ID,USERPERMISSION_ID
    </sql>
    <!-- condition -->
    <sql id="base_where">
        <where>
            <if test="id != null">
                ID = #{id}
            </if>
            <if test="version != null">
                VERSION = #{version}
            </if>
            <if test="includeLower != null">
                INCLUDE_LOWER = #{includeLower}
            </if>
            <if test="departmentId != null">
                DEPARTMENT_ID = #{departmentId}
            </if>
            <if test="userpermissionId != null">
                USERPERMISSION_ID = #{userPermissionId}
            </if>
        </where>
    </sql>
    <!-- select -->
    <select id="findByUserPermissionId" parameterType="com.supcon.supfusion.rbac.dao.query.UserPDepartmentQuery" resultMap="base_map">
        SELECT DEPARTMENT_ID,USERPERMISSION_ID FROM rbac_userpdepartment upd WHERE upd.USERPERMISSION_ID IN <foreach
            collection="userPermissionIds" item="id" open="(" close=")" separator=",">
        #{id}
    </foreach>
    </select>
</mapper>